.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.lbl-border-left{
border-top: 2px solid rgb(33, 37, 41);
border-bottom: 2px solid rgb(33, 37, 41);
border-left: 2px solid rgb(33, 37, 41);
}

.lbl-border-right{
border-top: 2px solid rgb(33, 37, 41);
border-bottom: 2px solid rgb(33, 37, 41);
border-right: 2px solid rgb(33, 37, 41);
}

input:focus{
  outline: none;
}

li{
  list-style-type: none;
}

ul{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Este CSS es para eliminar las flechas del input de number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
    appearance: number;
}
